.container {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-left: 160px;
  font-size: 2em;
}
.scroll-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}